{% extends 'base.html' %}

{% block htag %} Affair Predictor {% endblock %}

{% block content %}
<div>
    <h2> Fill These Following Information </h2>

    <div class=my_div>
        <form action="{{ url_for('predict') }}" method="post">

              <label for="age">Age</label><br>
              <input type="text" id="age" name="age"><br><br>

              <label for="yom">Year of Marriage</label><br>
              <input type="text" id="yom" name="yom" ><br><br>

            <label for="education">Education</label><br>
            <select name="education" id="education">
                  <option value="10">High School</option>
                  <option value="12">Metrix</option>
                  <option value="16">Batchelor</option>
                  <option value="19">Masters</option>
                </select><br><br>

            <label for="religious">Religious</label><br>
            <select name="religious" id="religious">
                  <option value="1">Non Believer</option>
                  <option value="2">Moderate Believer</option>
                  <option value="3">Believer</option>
                  <option value="4">Extreme Believer</option>
                </select><br><br>


            <br>
            <label for="Mrate">Marriage Ratings</label><br>
            1 <input type="range" id="Mrate" name="Mrate" min="1" max="5"> 5
            <br><br>


            <br>
            <label for="child">Children</label><br>
            0 <input type="range" id="child" name="child" min="0" max="5"> 5
            <br><br>


            <br>
            <label for="occup">Occupation</label><br>
            1 <input type="range" id="occup" name="occup" min="1" max="6"> 6
            <br><br>


            <br>
            <label for="Hoccup">Husband Occupation</label><br>
            1 <input type="range" id="Hoccup" name="Hoccup" min="1" max="6"> 6
            <br><br>




            <input type="submit" value="Submit">



        </form>
    </div>
    </div>
{% endblock %}
